.devicegrid {
    /*@apply flex h-full w-full justify-center;*/
    @apply flex flex-wrap w-full h-full overflow-y-scroll;
    /*width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-column-gap: 0em;
    grid-row-gap: 1em;
    overflow-y: scroll;
    height: 100%;*/
}
.devicegrid::-webkit-scrollbar {
    display: none;
}

.devicegrid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}